<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>   
    <h1> FORMULARIO EJERCICIO SEIS</h1>
    <form action="../ejercicio_seis.php" method="POST">
        <div>
                <label for="inputNick" 	class="control-label text-left">Usuario:</label>	        
                <input id="inputNick" class="form-control input-sm" type="text" name="nickname" value="" maxlength="35" /> 
        </div>
        <div>
                <label for="inputPassword" 	class="control-label text-left">contraseña:</label>	        
                <input id="inputPassword" class="form-control input-sm" type="password" name="password" value="" maxlength="35" /> 
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</body>
</html>